<%= content_tag :div, class: 'row mail_image_request', id: "mail_image_request_#{mail_image_request.to_param}" do %>
  <div class="col-xs-6">
    <%= mail_image_request.type.titlecase %>
    <span class="date">
      <%= D.new(mail_image_request.created_at).datetime_with_zone %>
      <% if mail_image_request.type == 'forward' %>
        via <%= mail_image_request.shipping_company %>
      <% end %>
    </span>
  </div>
  <div class="col-xs-6">
    <div class="status">
      <% if mail_image_request.complete? %>
        &nbsp;&nbsp;&nbsp;
        Completed
        <span class="date">
          <%= D.new(mail_image_request.completed_at).datetime_with_zone %>
        </span>
          <% unless mail_image_request.tracking_id.blank? %>
            <div style="font-size:16px; padding-left: 30px;">
              Tracking Id: <strong><%= mail_image_request.tracking_id %></strong>
            </div>
          <% end %>
      <% else %>
        <%= link_to 'cancel', mail_image_request_path(mail_image_request),
                    remote: true, method: :delete,
                    class: 'btn btn-danger btn-sm cancel_button' %>
      <% end %>
    </div>
</div>
<% end %>
