<div id="mail_image_requests">
  <%= page_heading 'Mail Image Requests' %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Created at</th>
              <th>Image</th>
              <th>Client</th>
              <th>Client Email</th>
              <th>Client Phone</th>
              <th>Type</th>
              <th>Tracking Number</th>
              <th>Complete</th>
              <th>Completed at</th>
            </tr>
          </thead>

          <tbody>
            <% @mail_image_requests.each do |mir|
                 mi = mir.mail_image
                 c = mir.client %>
              <%= content_tag :tr, class: 'mail_image_request_row',
                              data: {'mail-image-request-id' => mir.to_param} do %>
                <td>
                  <div class="date">
                    <%= mir.created_at.strftime(ENV['DATETIME_DISPLAY_FORMATTER']) %>
                  </div>
                </td>
                <td>
                  <%= link_to '#', class: 'image_popover_control click_control',
                              data: {'mail-image-id' => mi.to_param, 'image-url' => mi.image} do %>
                    <%= image_tag mi.thumb %>
                  <% end %>
                </td>
                <td>
                  <%= link_to c.name, c %>
                </td>
                <td>
                  <%= mail_to c.email, c.email %>
                </td>
                <td>
                  <%= link_to c.phone, "tel:#{c.phone}" %>
                </td>
                <td>
                  <strong><%= mir.type.titlecase %></strong>
                </td>
                <td>
                  <% if mir.type == 'forward' %>
                    <%= text_field_tag 'tracking_id', mir.tracking_id, class: 'form-control' %>
                  <% end %>
                </td>
                <td>
                  <!-- <div class="checkbox"> -->
                    <label style="padding-left: 20px;">
                      <%= check_box_tag "compelete_checkbox_#{mir.to_param}",
                                        mir.complete?, mir.complete?,
                                        class: 'complete_checkbox' %>
                    </label>
                  <!-- </div> -->
                </td>
                <td class="date" style="width:155px">
                  <%= mir.completed_at.strftime(ENV['DATETIME_DISPLAY_FORMATTER']) if mir.completed_at %>
                </td>
              <% end # tr %>
            <% end # each mail_image_request %>
        </table>
      </div>
    </div>
  </div>
</div>
<script>


</script>


<script>
  $(document).ready(function(){
    var mqp = new MailQueuePopovers();
    mqp.init();

    var mirc = new MailImageRequestCompleter();
    mirc.init();
  });
</script>
