<div id="mail_image_requests">
  <%= page_heading 'Mail Image Requests' %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Image</th>
              <th>Client</th>
              <th>Client Email</th>
              <th>Client Phone</th>
              <th>Type</th>
              <th>Complete</th>
              <th>Completed at</th>
            </tr>
          </thead>

          <tbody>
            <% @mail_image_requests.each do |mir|
                 mi = mir.mail_image
                 c = mir.client %>
              <%= content_tag :tr, class: 'mail_image_request_row',
                              data: {'mail-image-request-id' => mir.to_param} do %>
                <td>
                  <%= link_to '#', class: 'image_popover_control click_control',
                              data: {'mail-image-id' => mi.to_param, 'image-url' => mi.image} do %>
                    <%= image_tag mi.thumb %>
                  <% end %>
                </td>
                <td>
                  <%= link_to c.name, c %>
                </td>
                <td>
                  <%= mail_to c.email, c.email %>
                </td>
                <td>
                  <%= link_to c.phone, "tel:#{c.phone}" %>
                </td>
                <td>
                  <strong><%= mir.type.titlecase %></strong>
                </td>
                <td>
                  <!-- <div class="checkbox"> -->
                    <label style="padding-left: 20px;">
                      <%= check_box_tag "compelete_checkbox_#{mir.to_param}",
                                        mir.complete?, mir.complete?,
                                        class: 'complete_checkbox' %>
                    </label>
                  <!-- </div> -->
                </td>
                <td class="date" style="width:155px">
                  <%= mir.completed_at.strftime('%B %e, %Y %l:%M%P') if mir.completed_at %>
                </td>
              <% end # tr %>
            <% end # each mail_image_request %>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    var checkboxes = $('.complete_checkbox');
    checkboxes.change(function(e){
      var cb = $(this);
      var complete = cb.is(':checked');
      var cell = cb.closest('td');
      var row = cb.closest('tr');
      var cells = row.find('td');

      var completed_at;
      if(complete){
        completed_at = new Date();
      } else {
        completed_at = '';
      }

      var row = cb.closest('.mail_image_request_row');
      var id = row.data('mail-image-request-id');

      $.ajax({
        url: '/mail_image_requests/' + id,
        method: 'PATCH',
        data: {
          mail_image_request: {
            complete: complete,
            completed_at: completed_at,
          },
        },
        dataType: 'json',
        format: 'json',
        complete: function(data){
          var json = JSON.parse(data.responseText);
          // var id = json.id.$oid;
          var cell_index;
          $.each(cells, function(i, c){
            if(c == cell[0]){ cell_index = i; }
          });

          var time_cell = $(cells[cell_index + 1]);
          var time = json.completed_at;
          if(time == null){
            time_cell.text('');
          } else {
            time_cell.text(json.formatted_completed_at);
          }
        }
      });
    });
  });
</script>


<script>
  $(document).ready(function(){
    var mqp = new MailQueuePopovers();
    mqp.init();
  });
</script>
