<div class="container client_form">
  <%= form_for(client) do |f| %>
    <%= error_explanation client %>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group req">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group req">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :company_name %>
          <%= f.text_field :company_name %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :client_number %>
          <%= f.text_field :client_number %>  
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group req">
          <%= f.label :keywords %>
          <small> seperate with commas</small>
          <%= f.text_area :keywords, value: client.display_keywords %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
        <% unless @client.new_record? %>
          <div class="form-group">
            <%= link_to 'Delete', client_path(@client),
                        method: :delete, class: 'btn btn-danger',
                        data: {confirm: 'Are you sure? This is permanent!'} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
