<%= side_nav ["New Client", new_client_path] %>

<%= page_heading "Clients" %>

<div id="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Keywords</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @clients.each do |c| %>
              <tr>
                <td><%= c.name %></td>
                <td><%= c.email %></td>
                <td><%= c.display_keywords %></td>
                <td><%= link_to 'View', client_path(c), class: 'btn btn-primary btn-sm' %></td>
                <td><%= link_to 'Edit', edit_client_path(c), class: 'btn btn-warning btn-sm' %></th>
                <td><%= link_to 'Custom Queue', custom_mail_queue_client_path(c), class: 'btn btn-default btn-sm' %>
                <td>
                  <%= link_to 'Delete', client_path(c),
                              method: :delete,
                              class: 'btn btn-danger btn-sm',
                              data: {confirm: "Are you sure? This is permanent!"} %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
