<div id="client">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= quick_options ['Edit', edit_client_path(@client)] %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          <%= @client.name %>
          <small><%= mail_to @client.email %></small>
        </h2>
        <div class="well">
          <h2>Keywords</h2>
          <%= @client.keywords.join(', ') %>
      </div>
    </div><!-- row -->

    <% @client.mail_images.order(updated_at: :desc).group_by{ |mi| mi.created_at.strftime('%D') }.each do |date, mi_group| %>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center"><%= date %></h2>

        </div>
        <% mi_group.each do |mi| %>
          <div class="row inner">
            <div class="col-sm-4">
              <div class="thumb">
                <%= image_tag mi.thumb %>
              </div>
            </div>
          </div>

        <% end %>

      </div><!-- row -->
    <% end %>
  </div>
</div>
