<div id="client">
  <% if user_is_admin? %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= quick_options ['Edit', edit_client_path(@client)] %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          <%= @client.name %>
          <small><%= mail_to @client.email %></small>
        </h2>
        <div class="well">
          <h2>Keywords</h2>
          <%= @client.keywords.join(', ') %>
      </div>
    </div><!-- row -->

    <% @client.mail_images.sort{ |a, b| b.created_at <=> a.created_at }.group_by{ |mi| mi.created_at.to_date }.each do |date, mi_group| %>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center" style="margin-bottom:30px;"><%= date.strftime('%B %e, %Y') %></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3">
          <div class="instructions">Click image to view</div>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-6"></div>
      </div>
      <div class="row">
        <div class="mail_image_list">
          <% mi_group.each do |mi| %>
            <%= content_tag :div, class: 'row mail_image_row', id: "mail_image_row_#{mi.to_param}" do %>
              <div class="col-xs-3">
                <%= link_to '#', class: 'image_popover_control click_control',
                            data: {'mail-image-id' => mi.to_param, 'image-url' => mi.image} do %>
                <%= image_tag mi.image, width: '100%', class: 'mail_image_image' %>
                <% end %>

              </div>
              <div class="col-xs-3">
                <% if mi.is_requestable_for?(@client) %>
                  <div class="controls">
                    <div class="form-group">
                      <%= link_to 'Request Forward',
                                   mail_image_requests_path(mail_image_request: {
                                                              type: 'forward',
                                                              client_id: @client.to_param,
                                                              mail_image_id: mi.to_param,
                                                              shipping_company: 'slug_for_shipping_company'
                                                            }),
                                   method: :post,
                                   class: 'btn btn-primary btn-sm forward_request_link', remote: true %>
                    </div>
                    <div class="form-group">
                      <%= link_to 'Request Scan',
                                  mail_image_requests_path(mail_image_request: {
                                                              type: 'scan',
                                                              client_id: @client.to_param,
                                                              mail_image_id: mi.to_param
                                                          }),
                                  method: :post,
                                  class: 'btn btn-warning btn-sm', remote: true %>
                    </div>
                    <div class="form-group">
                      <%= link_to 'Request Disposal',
                                  mail_image_requests_path(mail_image_request: {
                                                            type: 'disposal',
                                                            client_id: @client.to_param,
                                                            mail_image_id: mi.to_param
                                                          }),
                                  method: :post,
                                  class: 'btn btn-danger btn-sm', remote: true %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-xs-6">
                <div class="mail_image_requests">
                  <% mi.mail_image_requests.where(client_id: @client).each do |mir| %>
                    <%= render partial: 'mail_image_requests/show', locals: {mail_image_request: mir} %>
                  <% end %>
                </div>
              </div>
            <% end # mail_image row %>
          <% end %>
        </div>
      </div><!-- row -->
    <% end %>
  </div>
</div>

<script>

</script>

<script>
  $(document).ready(function(){
    var mqp = new MailQueuePopovers();
    mqp.init();
  });
</script>
