<div id="mail_queue">
  <% unless @mail_queue.complete? || @mail_queue.marked_for_completion? %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group pull-right">
            <%= link_to "Send Emails", send_emails_mail_queue_path(@mail_queue),
                         id: 'send_emails', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= page_heading "Mail Queue <small>#{@mail_queue.name}</small>".html_safe %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'table' %>
      </div>
    </div>
  </div><!-- cont -->

  <%= render partial: 'unmatched_images', locals: {mail_queue: @mail_queue} %>
</div>

<%= render partial: 'mail_images/client_select', locals: {clients: Client.all} %>

<script>
  $(document).ready(function(){
    normalizeMailImageHeights();


  });
</script>
