<div id="mail_queue">
  <% unless @mail_queue.emails_complete %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group pull-right">
            <%= link_to "Send Emails", send_emails_mail_queue_path(@mail_queue),
                         id: 'send_emails', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= page_heading "Mail Queue <small>#{@mail_queue.name}</small>".html_safe %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'table' %>
      </div>
    </div>
  </div><!-- cont -->

  <div id="mail_image_selection" class="container">
    <div class="row">
      <div class="col-xs-6">
        <% @mail_queue.mail_images.each do |mi| %>
          <div class="row">
            <div class="col-xs-4">
              <ul class="controls">
                <li>
                  <%= link_to 'Image', '#', class: 'image_popover_control click_control',
                              data: {'mail-image-id' => mi.to_param, 'image-url' => mi.image} %>
                </li>
                <li>
                  <%= link_to 'Text', '#', class: 'text_popover_control click_control',
                              data: {'mail-image-id' => mi.to_param, 'text' => mi.text} %>
                </li>
              </ul>
            </div><!-- inner col -->
            <div class="col-xs-8">
              <%= content_tag :div, class: 'mail_image', data: {'client-ids' => mi.clients.map{ |c| c.id }.join(','),
                                                                id: mi.to_param} do %>
                <%= image_tag mi.thumb, class: 'thumb' %>
              <% end %>
            </div><!-- inner col -->
          </div><!-- inner row -->
        <% end %>
      </div><!-- outer col -->
      <div class="col-xs-6">
        <% Client.all.each do |c| %>
          <%= content_tag :div, class: 'client', data: {'client-id' => c.to_param } do %>
            <%= c.name %>
          <% end %>
        <% end %>
      </div><!-- outer col -->
    </div>
  </div><!-- cont -->
</div>

<script>
  function MailQueuePopovers(){
    this.image_links = $('.image_popover_control');
    this.text_links = $('.text_popover_control');

    this.init = function(){
      const t = this;

      this.text_links.click(function(e){
        e.preventDefault();
      });

      this.image_links.click(function(e){
        e.preventDefault();
      });

      $.each(t.image_links, function(i, link){
        link = $(link);
        var img_src = link.data('image-url');

        var doc_w = $(document).width();
        var link_w = link.width();
        var pos = link.offset();
        var w = doc_w - pos['left'] - link_w - 50;

        $(link).popover({
          html: true,
          trigger: 'focus',
          // placement: 'auto left',
          // container: true,
          content: function(){
            return '<img src="' + img_src + '" width="' + w + 'px" />';
          }
        });
      }); // each image_link

      $.each(t.text_links, function(i, link){
        link = $(link);
        var text = link.data('text');
        $(link).popover({
          html: true,
          trigger: 'focus',
          content: function(){
            return text;
          },
        });
      }); // each text_link
    }
  }

  var mqp = new MailQueuePopovers();
  mqp.init();
</script>

<script>
  $(document).ready(function(){
    var mq = new MailQueuer();
    mq.init();
  });
</script>
